<div class="container">
  <h5>Video story</h5>
  <div class="video">

    <iframe width="100%" height="290px" src="https://www.youtube.com/embed/DfEL-nNBtsc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="desc">Kinder Joys are all the rage right now in the US since they just recently became available as an alternative to the illegal Kinder Surprise Egg.
      Check out my Merch! <span (click)="toKinder()">www.kinder.com.ua</span></p>
  </div>

  <div class="video">

    <iframe width="100%" height="290px" src="https://www.youtube.com/embed/k1vd8q4p9Sg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="desc"> Join me as I show you the differences between a Kinder Surprise Egg and a Kinder Joy! the rage right now in the US since they just recently became available as an
      Become one of my patrons Check out my Merch!  <span (click)="toKinder()">www.kinder.com.ua</span></p>
  </div>
</div>

