<header class="header">
<div class="container">
    <div class="wrap">
      <div class="logo"><a [routerLink]="['/store']">Kinder Surprise</a></div>
      <nav class="nav">
        <ul>
          <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
          <li><a [routerLink]="['/store']" routerLinkActive="active">Store</a></li>
          <li><a [routerLink]="['/basket']" routerLinkActive="active">Basket</a></li>
          <li><a [routerLink]="['/history']" routerLinkActive="active">History</a></li>
        </ul>
      </nav>
    </div>
</div>

</header>
